<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Artistes</title>
</head>
<body>
    <header>
        <h1>Liste des Artistes</h1>
    </header>
    <main>
        <ul>
            {{range .}}
            <li>
                <img src="{{.Image}}" alt="Image de {{.Name}}" class="artist-image">
                <h2>{{.Name}}</h2>
                <a href="/artist?id={{.Id}}">Voir les détails</a>
            </li>
            {{end}}
        </ul>
    </main>
</body>
</html>
