<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists list - Groupie Tracker</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/errorpopup.js"></script>
</head>

<body>
    <a href="/artists" class="home-link">Reset</a>
    <div class="header">
        <h1>Artists</h1>

        <!-- Search bar -->
        <form action="/search" method="POST" class="search-container">
            <input type="text" name="search" class="search-input" placeholder="Search an artist, an album, a concert"
                required />
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>

    <!-- Darkened background -->
    <div id="popupOverlay" class="popup-overlay"></div>

    <!-- Error pop-up -->
    {{ if .Incorrect }}
    <div id="errorPopup" class="popup">
        <p>No results found</p>
        <button onclick="closePopup()">OK</button>
    </div>
    {{ end }}

    <!-- Main container that includes the filters on the left and the artists grid -->
    <div class="main-container">
        <!-- Sidebar filters -->
        <aside class="filter-container">
            <form action="/search" method="POST">
                <div>
                    <h3>Filter by Creation Date</h3>
                    <label for="fromCreation">From:</label>
                    <input type="number" name="fromCreation" min="1900" max="2024" placeholder="YYYY"
                        value="{{ .Filters.CD.From }}">
                    <label for="toCreation">To:</label>
                    <input type="number" name="toCreation" min="1900" max="2024" placeholder="YYYY"
                        value="{{ .Filters.CD.To }}">
                </div>
                <div>
                    <h3>First Album Date:</h3>
                    <label for="fromFAD">From:</label>
                    <input type="number" name="fromFAD" min="1900" max="2024" placeholder="YYYY"
                        value="{{ .Filters.FAD.From }}">
                    <label for="toFAD">To:</label>
                    <input type="number" name="toFAD" min="1900" max="2024" placeholder="YYYY"
                        value="{{ .Filters.FAD.To }}">
                </div>
                <div>
                    <h3>Filter by Number of Members</h3>
                    <label for="fromNBOM">From:</label>
                    <input type="number" name="fromNBOM" min="1" max="8" placeholder="Min"
                        value="{{ .Filters.NBOM.From }}">
                    <label for="toNBOM">To:</label>
                    <input type="number" name="toNBOM" min="1" max="8" placeholder="Max" value="{{ .Filters.NBOM.To }}">
                </div>
                <div>
                    <h3>Filter by Concert Location</h3>
                    <ul>
                        {{ range .Filters.City }}
                        <li>
                            <input type="checkbox" name="cities" value="{{ . }}">
                            {{ . }}
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <button type="submit" class="filter-button">Apply Filter</button>
            </form>
        </aside>

        <!-- Liste des artistes -->
        <div class="grid">
            {{ if .Search.Artists }}
            {{ range .Search.Artists }}
            <button class="artist-card" onclick="location.href='/artist/{{ .ID }}';">
                <img src="{{ .Image }}" alt="{{ .Name }}" class="artist-image">
                <div class="artist-info">
                    <h2 class="artist-name">{{ .Name }}</h2>
                    <p class="artist-details">Creation : {{ .CreationDate }}</p>
                    <p class="artist-details">First album : {{ .FirstAlbum }}</p>
                </div>
            </button>
            {{ end }}
            {{ else }}
            {{ range .General.Artists }}
            <button class="artist-card" onclick="location.href='/artist/{{ .ID }}';">
                <img src="{{ .Image }}" alt="{{ .Name }}" class="artist-image">
                <div class="artist-info">
                    <h2 class="artist-name">{{ .Name }}</h2>
                    <p class="artist-details">Creation : {{ .CreationDate }}</p>
                    <p class="artist-details">First album : {{ .FirstAlbum }}</p>
                </div>
            </button>
            {{ end }}
            {{ end }}
        </div>
    </div>
</body>

</html>