<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Artistes</title>
</head>
<body>
    <h1>Liste des Artistes</h1>
    <ul>
        {{range .}}
        <li>
            <img src="{{.Image}}" alt="Image de {{.Name}}" style="width:100px;height:100px;">
            <h2>{{.Name}}</h2>
            <p>Création : {{.Creation}}</p>
            <p>Premier Album : {{.FirstAlbum}}</p>
            <a href="/artist?id={{.ID}}">Voir les détails</a>
        </li>
        {{end}}
    </ul>
</body>
</html>
