<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de l'Artiste</title>
</head>
<body>
    <h1>{{.Name}}</h1>
    <img src="{{.Image}}" alt="Image de {{.Name}}" style="width:300px;height:300px;">
    <p>Création : {{.Creation}}</p>
    <p>Premier Album : {{.FirstAlbum}}</p>
    <h2>Membres :</h2>
    <ul>
        {{range .Members}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    <a href="/artists">Retour à la liste des artistes</a>
</body>
</html>
