<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="hero">
        <h1>Groupie Tracker</h1>
        <p class="description">
            Find about your favorite artists, their  albums and concerts. Follow their news in real time
        </p>
        <a href="/artists" class="cta-button">Explore Artists</a>
    </div>
</body>
</html>
